# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vite
frontend/dist/

# Misc
coverage/